@model One.Application.ViewModels.AlunoViewModel
@{
    ViewData["Title"] = "DashBoard2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo Aluno</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label asp-for="CodigoALuno"></label>
        <input asp-for="CodigoALuno" class="form-control" />
    </div>
    <div class="form-control">
        <label asp-for=""></label>
    </div>
</form>

