
@{
    Layout = null;
}

<div class="form-group">
    <div class="col-md-1">

    </div>
    <div class="col-md-3 col-sm-12">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title primary">Novo Responsável</h5>
                <p class="card-text">Escolha esta opção se o responsável do aluno ainda não foi cadastrado no sistema.</p>
                <a onclick="CarregarCadastroResponsavel()" class="btn btn-sm btn-primary">Selecionar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title primary">Aluno é o Responsável</h5>
                <p class="card-text">Escolha esta opção quando o aluno for o prórpio responsável(apenas para alunos com mais de 18 anos).</p>
                <a href="#" class="btn btn-sm btn-primary">Selecionar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title primary">Selecionar um Responsável</h5>
                <p class="card-text">Opção para quando o responsável do novo aluno já estiver cadastrado no sistema</p>
                <a href="#" class="btn btn-sm btn-primary">Selecionar</a>
            </div>
        </div>
    </div>
</div>
<script src="~/CoreJs/ACAluno/Cadastro/SelecionarResponsavel.js"></script>