@model One.Application.ViewModels.ACProfessorVM.CadastroProfessorViewModel
@{
    ViewData["Title"] = "Cadastro de Professor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
            </header>
            <div class="panel-body">
                <section class="panel form-wizard" id="w2">
                    <div class="tabs">
                        <ul class="nav nav-tabs nav-justify">
                            <li class="active">
                                <a href="#w2-account" data-toggle="tab" class="text-center">
                                    Professor
                                </a>
                            </li>
                        </ul>
                        <form class="form-horizontal" novalidate="novalidate">
                            <div class="tab-content">

                                <div style="display: none">
                                    <input asp-for="CodigoProfessor" />
                                    <input asp-for="CodigoUsuario" />
                                </div>

                                @*ABA Aluno*@
                                <div id="w2-account" class="tab-pane active">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="NomeProfessor"></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control input-sm" asp-for="NomeProfessor">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" asp-for="DataNascimento"></label>
                                        <div class="col-sm-2">
                                            <input one-ui="date" class="form-control input-sm" asp-for="DataNascimento">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="RG"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="RG">
                                        </div>

                                        <label class="col-sm-1 control-label" asp-for="CPF"></label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" asp-for="CPF">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <a class="bt-salvar btn btn-sm btn-default col-md-1 col-xs-12">Salvar</a>
                            <a class="bt-cancelar btn btn-sm btn-default col-md-1 col-xs-12">Cancelar</a>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
<script src="~/CoreJs/ACProfessor/Cadastro/Common.js"></script>