@model One.Application.ViewModels.ACResponsavelVM.ListaResponsavelViewModel
@{
    ViewData["Title"] = "Lista de Responsáveis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
            </header>
            <div class="panel-body">
                <form class="form-horizontal" novalidate="novalidate">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" asp-for="NomeResponsavel"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" asp-for="NomeResponsavel">
                        </div>
                        <a class="btn btn-default" id="btPesquisar"><i class="glyphicon glyphicon-search"></i> Pesquisar</a>
                        <a class="btn btn-primary" href="@Url.Action("Cadastro-Responsavel","Gerenciar-Responsavel")"><i class="glyphicon glyphicon-user" id="btNovoResponsavel"></i> Novo Responsável</a>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <div class="result-data" id="divResponsavel">
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/CoreJs/ACResponsavel/Lista/Common.js"></script>
