

<div class="row">
    <div class="col-xs-12">
        <section class="panel form-wizard">
            <div class="panel-body">
                <div class="wizard-progress wizard-progress-lg" style="margin-bottom: 0px;">
                    <div class="steps-progress">
                        <div class="progress-indicator"></div>
                    </div>
                    <ul class="wizard-steps">
                        <li onclick="ClickNumero(1)" id="li_1" class="active step">
                            <a href="#"><span>1</span>Aluno</a>
                        </li>
                        <li onclick="ClickNumero(2)" id="li_2" class="step">
                            <a href="#"><span>2</span>Responsável</a>
                        </li>
                        <li onclick="ClickNumero(3)" id="li_3" class="step">
                            <a href="#"><span>3</span>Matrícula</a>
                        </li>
                        <li onclick="ClickNumero(4)" id="li_4" class="step">
                            <a href="#"><span>4</span>Confirmação</a>
                        </li>
                    </ul>
                </div>

                <form class="form-horizontal" novalidate="novalidate">
                    <div class="tab-content">
                        <div id="tab_1" class="tab-pane active"></div>
                        <div id="tab_2" class="tab-pane"></div>
                        <div id="tab_3" class="tab-pane"></div>
                        <div id="tab_4" class="tab-pane"></div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <ul class="pager">
                    <li class="previous">
                        <a><i class="fa fa-angle-left"></i> Voltar</a>
                    </li>
                    <li class="finish hidden pull-right">
                        <a>Salvar</a>
                    </li>
                    <li class="next">
                        <a>Avançar <i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
<script src="~/CoreJs/ACMatricula/wizard.js"></script>