@{
    Layout = null;
}

<div class="row" id="dv_aluno">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <a href="#" onclick="NovoAluno()" class="btn btn-primary">Novo Aluno</a>
                <p class="card-text">Escolha esta opção se o aluno que está se matriculando ainda não estiver cadastrado no sistema</p>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-primary">Pesquisar Aluno</a>
                <p class="card-text">Opção criada para gerar novas matrículas com alunos que já estão cadastrados no sistema</p>
            </div>
        </div>
    </div>
    @*<div class="col-sm-1">
        <a href="#" id="bt-voltar" class="btn btn-sm btn-primary">Voltar</a>
    </div>*@
</div>

<script type="text/javascript">

    function NovoAluno() {
        CarregarHtmlView('/Gerenciar-Aluno/Form-Aluno/', {}, 'dv_aluno');
        _selecaoAluno = 1;
    }

    function PesquisarAluno() {
        CarregarHtmlView('/Gerenciar-Aluno/Form-Aluno/', {}, 'tab_1');
        _selecaoAluno = 2;
    }
</script>
